<h2 mat-dialog-title>Edit Profile</h2>
<mat-dialog-content>
  <mat-form-field class="full-width">
    <input matInput placeholder="Old password" type="password" maxlength="30" [(ngModel)]="data.user.oldPassword" required>
    <mat-hint align="end">{{data.user.oldPassword.length}}/30</mat-hint>
  </mat-form-field>
  <br>
  <mat-form-field class="full-width">
    <input matInput placeholder="New password" type="password" maxlength="30" [(ngModel)]="data.user.newPassword" required>
    <mat-hint align="end">{{data.user.newPassword.length}}/30</mat-hint>
  </mat-form-field>
  <br>
  <mat-form-field class="full-width">
    <input matInput placeholder="Repeat new password" type="password" maxlength="30" [(ngModel)]="data.user.newPasswordRepeat" required>
    <mat-hint align="end">{{data.user.newPasswordRepeat.length}}/30</mat-hint>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-icon-button [mat-dialog-close]="{user:data.user }"
          color="primary" matTooltip="Edit"
          [disabled]="data.user.oldPassword.trim()==='' ||
                      data.user.newPassword.trim()==='' ||
                      data.user.newPasswordRepeat.trim()==='' ||
                      data.user.newPassword!==data.user.newPasswordRepeat">
    <mat-icon>edit</mat-icon>
  </button>
  <span class="spacer"></span>
  <button mat-icon-button mat-dialog-close matTooltip="Close">
    <mat-icon>close</mat-icon>
  </button>
</mat-dialog-actions>
