<mat-toolbar>
  <mat-toolbar-row>
    <span>Ebook</span>
  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="!nav_items || nav_items.length==0">
    <mat-spinner></mat-spinner>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <button *ngFor="let nav of nav_items" mat-button color="primary" [routerLink]="[nav.route]" matTooltip="{{nav.name}}">
      <mat-icon>{{nav.icon}}</mat-icon>
      {{nav.name}}
    </button>
    <button mat-button color="primary" [routerLink]="['users/', me.username]" *ngIf="login">
      <mat-icon>person</mat-icon>
      Profile
    </button>
    <span class="spacer"></span>
    <button mat-button *ngIf="login" color="primary" (click)="changePassword()">
      <mat-icon>edit</mat-icon>
      Change password
    </button>
    <button mat-button *ngIf="login" color="primary" (click)="editProfile()">
      <mat-icon>edit</mat-icon>
      Edit profile
    </button>
    <button mat-button *ngIf="!login" (click)="loginPage()">Login</button>
    <button mat-button *ngIf="login" (click)="logout()">Logout</button>
  </mat-toolbar-row>
</mat-toolbar>
