<h2 mat-dialog-title>Add new Ebook</h2>
<mat-dialog-content>
  <mat-horizontal-stepper linear>
    <mat-step>
      <ng-template matStepLabel>Upload file</ng-template>
      <form>
        <input type="file" (change)="fileChange($event)" placeholder="Upload"
               accept=".pdf" required>
      </form>
      <br>
      <button mat-button matStepperNext [disabled]="file===null">Next</button>
    </mat-step>
    <mat-step *ngIf="file!==null">
      <ng-template matStepLabel>Edit Ebook</ng-template>
      <mat-form-field class="full-width">
        <input matInput placeholder="Title" maxlength="80" [(ngModel)]="ebook.title" required>
        <mat-hint align="end">{{ebook.title.length}}/80</mat-hint>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Author" maxlength="120" [(ngModel)]="ebook.author" required>
        <mat-hint align="end">{{ebook.author.length}}/120</mat-hint>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Publication Year" type="number" [(ngModel)]="ebook.publicationYear" required
               style="margin-bottom: 0.5em">
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-chip-list #keywordList>
          <mat-chip *ngFor="let key of keywords"
                    [removable]="true" (remove)="removeKey(key)">
            {{key}}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input placeholder="Keywords"
                 [matChipInputFor]="keywordList"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="true"
                 (matChipInputTokenEnd)="addKey($event)" />
        </mat-chip-list>
        <mat-hint align="end">{{ebook.keywords.length}}/120</mat-hint>
        <mat-hint>Please add keywords</mat-hint>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-select placeholder="Category" [(ngModel)]="ebook.category" required
                    style="margin-bottom: 0.5em">
          <mat-option *ngFor="let c of categories" [value]="c.id">
            {{ c.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-select placeholder="Language" [(ngModel)]="ebook.language" required>
          <mat-option *ngFor="let l of languages" [value]="l.id">
            {{ l.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-step>
  </mat-horizontal-stepper>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [disabled]="ebook.language<=0 ||
    ebook.category<=0 || ebook.keywords==='' ||
    ebook.title==='' || ebook.author==='' ||
    ebook.publicationYear<=0" [mat-dialog-close]="{ok:true, ebook:ebook, file: file }" matTooltip="Add new Ebook">
    <mat-icon>add</mat-icon>
  </button>
  <span class="spacer"></span>
  <button mat-button [mat-dialog-close] matTooltip="Close">
    <mat-icon>close</mat-icon>
  </button>
</mat-dialog-actions>
